# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  workflow_dispatch:
  release:
    types: [created, edited]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        with:
          version: 6.0.2
      - run: pnpm i
      - run: pnpm lib build
      - name: save build artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: ./packages/ui-lib/dist
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://npm.pkg.github.com'
      - uses: pnpm/action-setup@v2
        with:
          version: 6.0.2
      - name: download artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: ./packages/ui-lib/dist
      - run: pnpm publish --no-git-checks --registry=https://npm.pkg.github.com
        working-directory: ./packages/ui-lib
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
